* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Source Sans Pro"; }

.full-page-container {
  display: none; }

h1 {
  font-weight: 300;
  margin: 0 0 15px; }
  @media (max-width: 767px) {
    h1 {
      text-align: center; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: solid 2px rgba(255, 255, 255, 0.5);
  z-index: 10; }
  header.on-load {
    display: none; }
  header .loader.header {
    height: 50px;
    width: 50px;
    z-index: 10; }
    header .loader.header:hover .sk-folding-cube {
      transform: rotateZ(135deg);
      box-shadow: 3px -3px 10px white; }
    header .loader.header:hover .jr-logo {
      transform: rotateZ(-495deg); }
    header .loader.header .sk-folding-cube {
      box-shadow: 3px 3px 10px white;
      background: linear-gradient(135deg, #6d416a 0%, #6d416a 5%, #6d416a 10%, #367588 100%);
      transition: all .5s ease-in-out; }
  header .header-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px; }
  header .jr-logo {
    font-size: 22px;
    padding: 5px;
    height: 40px;
    width: 40px;
    color: white;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    transform: rotateZ(-45deg);
    transition: all .5s ease-in-out; }
  header .social a {
    color: white;
    font-size: 22px;
    color: black;
    transition: all .3s ease-in-out; }
    header .social a:hover {
      color: rgba(0, 0, 0, 0.5); }
    header .social a span {
      font-size: 0; }
  header .social a + a {
    margin-left: 15px; }

.main-section {
  background: linear-gradient(45deg, rgba(109, 65, 106, 0.9), rgba(54, 117, 136, 0.9));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  background-image: url("../img/main-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .main-section .gradient-overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(109, 65, 106, 0.9), rgba(54, 117, 136, 0.9));
    z-index: 4;
    position: absolute; }
  .main-section .developer-section {
    border: solid 2px rgba(255, 255, 255, 0.5);
    transform: rotate(-5deg);
    margin-top: auto;
    z-index: 5; }
  .main-section .developer {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 300;
    padding: 40px 100px;
    transform: rotate(5deg); }
    @media (max-width: 767px) {
      .main-section .developer {
        padding: 20px 40px; } }
    .main-section .developer .name {
      font-size: 55px;
      margin: 0; }
      @media (max-width: 767px) {
        .main-section .developer .name {
          font-size: 30px;
          line-height: 40px; } }
    .main-section .developer p {
      margin: 0;
      font-size: 26px; }
      @media (max-width: 767px) {
        .main-section .developer p {
          font-size: 20px; } }
  .main-section .picture-container {
    width: 120px;
    height: 120px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    margin: 40px 0 -70px;
    transform: rotate(8deg);
    z-index: 5; }
    @media (max-width: 767px) {
      .main-section .picture-container {
        width: 100px;
        height: 100px;
        margin: 40px 0 -50px; } }
    .main-section .picture-container .inner-picture {
      height: 100%;
      width: 100%;
      transform: rotate(-8deg);
      background-color: white;
      border: solid 2px rgba(255, 255, 255, 0.5);
      box-shadow: 0px 3px 15px white;
      background-image: url("../img/profile-picture.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
  .main-section .contact-me {
    margin: auto 0 50px 0;
    border: solid 2px rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    font-size: 22px;
    color: white;
    font-weight: 300;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    z-index: 5; }
    @media (max-width: 767px) {
      .main-section .contact-me {
        margin: auto 0 30px 0; } }
    .main-section .contact-me:hover {
      border: solid 2px white;
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); }

.skill-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 15px;
  border-top: solid 4px rgba(35, 152, 134, 0.6);
  border-bottom: solid 4px rgba(35, 152, 134, 0.6);
  background-color: #f5f5f5; }
  @media (max-width: 767px) {
    .skill-section {
      padding: 40px 15px; } }
  .skill-section h1 {
    color: #239886; }
  .skill-section .skill-container {
    display: flex;
    border: solid 2px rgba(35, 152, 134, 0.6); }
    @media (max-width: 767px) {
      .skill-section .skill-container {
        flex-direction: column;
        width: 100%; } }
    .skill-section .skill-container .skill {
      padding: 15px 30px;
      background: #239886;
      color: white;
      font-weight: 300; }
      @media (max-width: 767px) {
        .skill-section .skill-container .skill {
          text-align: center; } }
    .skill-section .skill-container .skill + .skill {
      border-left: solid 2px rgba(255, 255, 255, 0.2); }
      @media (max-width: 767px) {
        .skill-section .skill-container .skill + .skill {
          border-left: none;
          border-top: solid 2px rgba(255, 255, 255, 0.2); } }
  .skill-section .skills-obj {
    margin: 40px 0 0 0;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 20px 40px;
    background: #363636;
    border: solid 2px rgba(35, 152, 134, 0.6);
    color: white; }
    @media (max-width: 767px) {
      .skill-section .skills-obj {
        padding: 15px;
        width: 100%;
        font-size: 16px; } }
    .skill-section .skills-obj .variable {
      color: #ac505a;
      font-weight: 400; }
    .skill-section .skills-obj .indent {
      margin: 0 0 0 15px; }
    .skill-section .skills-obj .string-highlight {
      color: #239886;
      font-weight: 300; }

.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 15px;
  background: linear-gradient(45deg, rgba(109, 65, 106, 0.9), rgba(54, 117, 136, 0.9)); }
  @media (max-width: 767px) {
    .portfolio-section {
      padding: 40px 15px; } }
  .portfolio-section h1 {
    color: white; }
  .portfolio-section .row {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap; }
    .portfolio-section .row a {
      margin: 20px;
      border: solid 2px rgba(255, 255, 255, 0.2);
      width: 33.33%;
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-weight: 300;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 240px;
      min-width: 230px;
      transition: all .3s ease-in-out; }
      @media (max-width: 767px) {
        .portfolio-section .row a {
          width: 100%;
          margin: 20px 0;
          max-width: none; } }
      .portfolio-section .row a:hover {
        border: solid 2px white;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); }

footer {
  height: 50px;
  padding: 0 20px;
  border-top: solid 4px rgba(35, 152, 134, 0.6);
  border-bottom: solid 4px rgba(35, 152, 134, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.8); }
  @media (max-width: 767px) {
    footer {
      flex-direction: column;
      padding: 20px;
      height: auto; } }
  footer .copyright {
    color: white;
    font-weight: 300; }
  footer .social {
    display: flex;
    align-items: center; }
    footer .social .email {
      font-size: 16px;
      font-weight: 300;
      text-decoration: none; }
    footer .social a {
      color: white;
      font-size: 22px;
      color: white;
      transition: all .3s ease-in-out; }
      footer .social a:hover {
        color: rgba(255, 255, 255, 0.5); }
      footer .social a span {
        font-size: 0; }
    footer .social a + a {
      margin-left: 15px; }

.custom-container {
  height: 100%;
  max-width: 1170px;
  margin: 0 auto; }
  @media (max-width: 979px) {
    .custom-container {
      max-width: none;
      width: 100%;
      padding: 0 10px; } }

.loader-overlay {
  display: none; }

.loader-container {
  background-color: white;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center; }

.loader.main {
  width: 100px;
  height: 100px; }

.loader .sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }
.loader .sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }
.loader .sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #6d416a;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }
.loader .sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }
.loader .sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }
.loader .sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }
.loader .sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.loader .sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }
.loader .sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

/*# sourceMappingURL=main.css.map */
